In [2]:
import pandas as pd
import csv
import matplotlib

In [3]:
players_df = pd.read_csv('Resources/players.csv')
salaries_df = pd.read_csv('Resources/salaries_1985to2018.csv')
print(len(players_df))
players_df = players_df.rename(columns={"_id": "player_id"})
players_df.head()

4685

,player_id,birthDate,birthPlace,career_AST,career_FG%,career_FG3%,career_FT%,career_G,career_PER,career_PTS,...,draft_pick,draft_round,draft_team,draft_year,height,highSchool,name,position,shoots,weight
0,abdelal01,"June 24, 1968","Cairo, Egypt",0.3,50.2,0.0,70.1,256,13.0,5.7,...,25th overall,1st round,Portland Trail Blazers,1990,6-10,"Bloomfield in Bloomfield, New Jersey",Alaa Abdelnaby,Power Forward,Right,240lb
1,abdulza01,"April 7, 1946","Brooklyn, New York",1.2,42.8,NaN,72.8,505,15.1,9.0,...,5th overall,1st round,Cincinnati Royals,1968,6-9,"John Jay in Brooklyn, New York",Zaid Abdul-Aziz,Power Forward and Center,Right,235lb
2,abdulka01,"April 16, 1947","New York, New York",3.6,55.9,5.6,72.1,1560,24.6,24.6,...,1st overall,1st round,Milwaukee Bucks,1969,7-2,"Power Memorial in New York, New York",Kareem Abdul-Jabbar,Center,Right,225lb
3,abdulma02,"March 9, 1969","Gulfport, Mississippi",3.5,44.2,35.4,90.5,586,15.4,14.6,...,3rd overall,1st round,Denver Nuggets,1990,6-1,"Gulfport in Gulfport, Mississippi",Mahmoud Abdul-Rauf,Point Guard,Right,162lb
4,abdulta01,"November 3, 1974","Maisons Alfort, France",1.1,41.7,23.7,70.3,236,11.4,7.8,...,11th overall,1st round,Sacramento Kings,1997,6-6,"Lycee Aristide Briand in Evreux, France",Tariq Abdul-Wahad,Shooting Guard,Right,223lb

In [11]:
salaries_df
# players_df.merge(salaries_df, right_on='player_id')


career_salary_dict = {}
id = 0
for player in salaries_df['player_id'].unique():
    this_player = salaries_df.loc[salaries_df["player_id"] == player, :]
    career_earnings = this_player['salary'].sum()
    career_salary_dict['player_id'] = [player]
    career_salary_dict['Career Earnings'] = [career_earnings]
    
    
   

nba_salary_df = pd.DataFrame(data=career_salary_dict)

print(len(nba_salary_df))    
nba_salary_df.head()

2

,abdelal01,abdulka01,abdulma02,abdulta01,abdursh01,abrinal01,ackeral01,acresma01,acyqu01,adamsal01,...,yuesu01,zelleco01,zellelu01,zellety01,zhizhwa01,zidekge01,zimmest01,zipsepa01,zizican01,zubaciv01
0,abdelal01,abdulka01,abdulma02,abdulta01,abdursh01,abrinal01,ackeral01,acresma01,acyqu01,adamsal01,...,yuesu01,zelleco01,zellelu01,zellety01,zhizhwa01,zidekge01,zimmest01,zipsepa01,zizican01,zubaciv01
1,2844000,8560000,19849500,37982800,95866000,11719764,1949488,1609000,8025506,1775000,...,442114,29994383,473604,17226833,5731839,2081200,950000,2062611,1645200,2347567